body {
    background: #6c7b88;
}

.form-horizontal {
    background-color: #b8bfce;
    color: black;
    margin: 0 auto;
    margin-top: 90px;
    padding: 10px 50px 10px;
    width: 200px;

    @* Border popout*@ -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #965F06;
    -moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
}

h2 {
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 300%;
}

.loginBtn {
    border-color: #555555;
    margin-top: 3px;
    width: 70px;
    height: 30px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #965F06;
    -moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 1px 1px rgba(000,000,000,0.5), inset 1px 2px 0px rgba(255,255,255,0.4);
}

br1 {
    display: block;
    margin: 8px 0;
}

.checkbox {
    display: block;
    margin: 10px 0;
}
