body {
    background: white;
}

.form-group {
    margin-bottom: -8px;
}

.form-horizontal {
    color: black;
    margin: 0 auto;
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 10px 50px 10px;
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h2 {
    color: dodgerblue;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 300%;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

h4 {
    margin-bottom: 0px;
    text-align: center;
    font-size: 100%;
    margin: 15px 0px -5px 0px;
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-weight: bold;
}

.registerButton {
    
    border-color: #555555;
    width: 55%;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid #965F06;
    background-color: dodgerblue;
    text-align: center;
    color: white;
    font-family: 'Proxima Nova', Arial, sans-serif;
    transition: box-shadow .3s;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerButton:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
}

br1 {
    display: block;
    margin: 8px 0;
}


.icon {
    padding: 10px;
    min-width: 40px;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.fa-lock {
    position: absolute;
    top: 35%;
    left: 14%;
}

.fa-envelope {
    position: absolute;
    top: 32%;
    left: 13%;
}