
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminNavBar.cshtml";
}

    <div style="text-align:center; margin-bottom:30px">
        <h1 class="display-4">Admin Home</h1><hr />
        Please select an option from the menu.
    </div>