@model OpenSourceBlog.Models.ManageUsersViewModel
@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageUsers</h2>

<body>
    @Html.Partial("_ManageUsers")
</body>