@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<link href="~/Content/ForgotPasswordConfirmation.css" rel="stylesheet" type="text/css" />


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

