@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<style>
    body{
        background: #6c7b88;
    }

    p{
        text-align: center
    }

    h1{
        color: black;
        margin-top: 80px;
        margin-bottom: 5px;
        font-size: 300%;
        text-align: center;
}
</style>


<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>

