@{
    ViewBag.Title = "Archive";
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Example of a ckeditor input box</p>
<textarea id="ckeditor_textarea"></textarea>